.bin/
.lib/
.settings/
.classpath
.project
.pydevproject
/target
/dist*
*.iml
*.mvn
.idea
*/target
*.DS_Store
*.classpath
*.settings
*.settings
*.project
*.log
*/disconf
*/log
*/logs
*.pyc
target
disconf
